@import './Header.scss';
@import './Sidebar.scss';
@import './VideoCard.scss';
@import './VideoList.scss';

.app {
  font-family: Arial, sans-serif;
  color: #333;
}

.main-content {
  display: flex;
}
