/* Sidebar.scss */
.sidebar {
  flex: 0 0 220px;
  height: 100vh;
  background-color: #181818;
  padding-top: 20px;
  color: white;
  &.mini {
    flex: 0 0 80px;
  }
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid rgba(255,255,255,0.2);
  &:first-child {
    border-top: 0px;
  }
}

.sidebar ul li {
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar ul li:hover {
  background-color: #333;
}

.sidebar ul li i {
  margin-right: 10px;
}

.sidebar .additional {
  display: none;
}

.sidebar.expanded .additional {
  display: block;
}